@mixin container {
    max-width: 375px;
    min-width: 320px;
    margin:    0 auto;
    padding:   0 15px 0 10px;
}

@mixin square() {
    &::after {
        content:        "";
        display:        block;
        padding-bottom: 100%;
    }
}
