@import "../common";

.Experiences {
    padding:  10px 0;
    position: relative;

    &::before {
        background: $blueLight;
        bottom:     0;
        content:    "";
        position:   absolute;
        top:        0;
        width:      .25px;
    }
}

.ExperienceWrapper {
    $spaceBetweenLineAndContent: 20px;
    $bubbleSize:                 4px;
    $bubbleBorderSize:           8px;

    margin-bottom:               30px;
    margin-left:                 $spaceBetweenLineAndContent;
    position:                    relative;

    &::before {
        background:    $orange;
        border:        $bubbleBorderSize solid $backgroundColor;
        border-radius: $bubbleSize + $bubbleBorderSize;
        content:       "";
        height:        $bubbleSize;
        left:          ($spaceBetweenLineAndContent + $bubbleBorderSize + 1)*-1;
        position:      absolute;
        top:           calc(#{($bubbleSize/2 + $bubbleBorderSize/2) * -1} + .25rem);
        width:         $bubbleSize;
    }
}

.Experience {
    display: flex;

    .Experience-Text {
        width: 100%;
    }

    .Experience-Image {
        flex: 1 1 0;

        img {
            width: 70px;
        }
    }

    span {
        margin: 5px 0;

        &:first-child {
            margin-top: 0;
        }

        &:last-child {
            margin-bottom: 0;
        }
    }

    .Experience-Position {
        color:       $blue;
        display:     block;
        font-weight: 400;
    }

    .Experience-Company {
        color:       $blue;
        font-weight: 300;
    }

    .Experience-Dates {
        color:       $fontColorLight;
        display:     block;
        font-weight: 400;
    }

    .Experience-Tags {
        margin-top: 5px;
        width:      100%;
    }
}
