@import "../common";

.Navigation {
    @include boxShadow;
    position:   sticky;
    top:        0;
    background: white;
    padding:    5px 10px;
    z-index:    1;

    ul {
        list-style: none;
        margin:     0;
        padding:    0;

        li {
            padding: 5px;

            &, a {
                display:    inline-block;
                text-align: center;
            }

            a {
                color:           $fontColor;
                font-weight:     400;
                font-size:       1.25em;

                text-decoration: none;

                &.selected {
                    color: $blueLight;
                }
            }
        }
    }
}
