@import "../common";

.Navigation {
    @include boxShadow;
    background: $fontColor;
    padding:    5px 10px;
    position:   sticky;
    top:        0;
    z-index:    1;

    ul {
        @include disableList;

        li {
            padding: 5px;

            &, a {
                display:    inline-block;
                text-align: center;
            }

            a {
                color:           white;
                font-size:       1.25em;
                font-weight:     400;

                text-decoration: none;

                &.selected {

                }
            }
        }
    }
}
