@import "../common";

.Navigation {
    background:    $backgroundColor;
    border:        0;
    border-bottom: 1px solid $fontColorLighter;
    padding:       10px;
    top:           0;
    transition:    all ease-out 150ms;
    width:         100%;
    z-index:       10;

    &.sticky {
        background:    white;
        @include boxShadow;
        border-bottom: 1px solid transparent;
        padding:       5px 10px;
        position:      fixed;
        transition:    all ease-in 250ms;

    }

    ul {
        @include disableList;

        li {
            padding: 5px;

            &, a {
                display:    inline-block;
                text-align: center;
            }

            a {
                background:              linear-gradient(to right, $fontColor, $fontColor);
                -webkit-background-clip: text;
                font-size:               1.25em;
                font-weight:             700;
                text-decoration:         none;
                -webkit-text-fill-color: transparent;
                transition:              background ease-in-out 1s;

                &.selected {
                    background:              linear-gradient(to right, $blue, $red);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                }
            }
        }
    }
}
