@import "../common";

.Index {
    text-transform:          uppercase;
    display:                 flex;
    font-size:               7em;
    font-weight:             700;
    justify-content:         center;
    padding:                 1em 0;
    background:              linear-gradient(to right, $blue, $red);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}
