@import "../common";

.Index {
    .title {
        background:              linear-gradient(to right, $blue, $red);
        -webkit-background-clip: text;
        display:                 flex;
        font-size:               5em;
        font-weight:             700;
        justify-content:         center;
        padding:                 1em 0;
        -webkit-text-fill-color: transparent;
        text-transform:          uppercase;
    }
}
