@import "../common";

.Section {
    @include container;
    margin-bottom: 5em;

    h1 {
        display:                 inline-block;
        background:              linear-gradient(to right, $blue, $red);
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        font-size:               1.75em;
        font-weight:             700;
        line-height:             1;
    }
}
