@import "../common";

.Skills {
    display:         flex;
    flex-wrap:       wrap;
    justify-content: flex-start;
    margin:          0 -5px;
}

.SkillWrapper {
    padding-top: 25%;
    position:    relative;
    width:       25%;
}

.Skill {
    $gutter:         10px;

    @include boxShadow(2);
    align-items:     center;
    background:      #fff;
    border-radius:   .75em;
    bottom:          $gutter/2;
    color:           $fontColorLight;
    display:         flex;
    flex-direction:  column;
    font-size:       .75rem;
    font-weight:     400;
    justify-content: space-between;
    left:            $gutter/2;
    padding:         $gutter*1.25 $gutter*.75 $gutter*.5;
    position:        absolute;
    right:           $gutter/2;
    top:             $gutter/2;
    width:           calc(100% - #{$gutter});

    .ImageWrapper {
        align-items:     center;
        display:         flex;
        height:          100%;
        justify-content: center;
        padding-bottom:  10px;
        width:           100%;
    }

    .Image {
        align-items:     center;
        display:         flex;
        height:          25px;
        justify-content: center;

        img {
            filter:    grayscale(100%);
            height:    auto;
            max-width: 50%;
        }
    }
}

.Confidence {
    display:         flex;
    height:          10px;
    justify-content: space-between;
    margin-top:      7px;
    position:        relative;
    width:           100%;

    .Confidence-Total,
    .Confidence-My {
        height:   2px;
        position: absolute;
        width:    100%;
    }

    .Confidence-Total {
        background: $fontColorLighter;
    }

    .Confidence-My {
        background: linear-gradient(to right, darken($red, 10%), lighten($red, 10%));
        overflow:   hidden;
    }
}

