@import "~normalize.css/normalize.css";

@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700&display=swap");

@import "scss/component/Image";
@import "scss/component/Section";
@import "scss/component/Header";
@import "scss/component/Footer";
@import "scss/component/Index";
@import "scss/component/Skills";
@import "scss/component/Experiences";
@import "scss/component/Tag";

body {
    background:              $backgroundColor;
    color:                   $fontColor;
    font-family:             "Roboto", sans-serif;
    font-size:               14px;
    -webkit-font-smoothing:  antialiased;
    font-weight:             500;
    -moz-osx-font-smoothing: grayscale;

    * {
        box-sizing: border-box;
    }
}
