$backgroundColor: rgb(242, 242, 242);
$fontColor:       rgb(99, 99, 99);
$fontColorLight:  rgb(142, 142, 142);

$orangeLight:     rgb(255, 142, 0);
$orange:          rgb(255, 127, 0);
$blueLight:       rgb(5, 40, 97);
$blue:            rgb(4, 14, 87);
