$backgroundColor:  rgb(242, 242, 242);
$fontColor:        rgb(99, 99, 99);
$fontColorLight:   rgb(142, 142, 142);
$fontColorLighter: lighten($fontColorLight, 25%);


$red:              rgb(231, 64, 32);
$blue:             rgb(0, 110, 185);
